.main {
    display:flex;
    flex-direction: column;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.classificacao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.umaEstrela:hover {
    color: #ffcf5c;
}

.duasEstrelas:hover,
.duasEstrelas:hover~.umaEstrela {
    color: #ffcf5c;
}

.tresEstrelas:hover,
.tresEstrelas:hover~.duasEstrelas,
.tresEstrelas:hover~.umaEstrela {
    color: #ffcf5c;
}

.quatroEstrelas:hover,
.quatroEstrelas:hover~.tresEstrelas,
.quatroEstrelas:hover~.duasEstrelas,
.quatroEstrelas:hover~.umaEstrela {
    color: #ffcf5c;
}

.cincoEstrelas:hover,
.cincoEstrelas:hover~.quatroEstrelas,
.cincoEstrelas:hover~.tresEstrelas,
.cincoEstrelas:hover~.duasEstrelas,
.cincoEstrelas:hover~.umaEstrela {
    color: #ffcf5c;
}

img {
    border-bottom: 20px transparent solid ;
}

#gostoso {
    width: 80px;
}

table{
    padding: 15px 0px 0px;
    background-color: #f3f3f3;
}

td { 
    text-align: center;
    padding:5px;
}

.bordinha {
    border-right: 2px solid;
}

.laranjinha {
    color:#ff6a28
}

.tudoGostoso {
    border-left: 3px solid white;
}
.espaco {
    border-top: 200px solid black;
}

h2 {
    color:#ff6a28;
    background-color: white;
    padding: 10px 20px;
    margin: 15px 0px 0px;
}

h3 {
    margin: inherit;
    padding: 10px 20px;
}

h4 {
    border-top: 10px solid white
}
.lista {
    text-align: left;
}

button {
    padding: 10px 20px;
    border-radius: 22px;
    border: none;
    background-color: #ff6a28;
}

ul {
    background-color: white;
}